@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  --primaryColor: #f8cb74;
  --secondColor: #232323;
  --textFormColor: rgba(205, 205, 205, 0.562);
}

html {
  background-color: var(--primaryColor);
}

header {
  padding: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;

  p {
    color: var(--secondColor);
    font-size: 15vw;
    margin: auto;
    font-weight: bolder;
    letter-spacing: 10px;
    position: relative;
  }

  a {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    margin: 10px auto 0px;
    padding: 10px;
    transition-duration: 1s;
  }

  a:hover {
    font-size: 14px;
    font-weight: 600;
  }
}

header i {
  font-size: 10px;
  animation: arrowMove 1s infinite alternate;
}

@keyframes arrowMove {
  to {
    transform: translateY(10px);
  }
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--secondColor);
}

.blockOne {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

img {
  height: 100px;
}

.project {
  display: flex;
  position: relative;
  height: 330px;
  width: 120px;
  border-bottom: 100px;
  border-radius: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según prefieras */
  z-index: 2;
  transition-duration: 0.6s;
}

.project-link {
  color: #ffffff90;
  font-weight: 500;
  background-color: transparent;
  position: relative;
  z-index: 2;
  text-decoration: none;
  transition-duration: 0.6s;
}

.bg-video1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-video2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-video3 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pOne,
.pTwo,
.pThree {
  transition-duration: 1s;
}

.pOne:hover,
.pTwo:hover,
.pThree:hover {
  height: 400px;
  width: 170px;
  box-shadow: 0 0 5px #ffffff;

  .overlay {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .project-link {
    color: #ffffff;

    scale: 1.4;
    text-shadow: 0 0 5px var(--secondColor);
  }
}

.blockTwo {
  margin-top: 250px;
  text-align: center;
}

footer {
  color: var(--primaryColor);
  background-color: #000;
  font-size: 10px;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .project {
    height: 700px;
    width: 280px;
    border-bottom: 100px;
    border-radius: 200px;
  }
  .pOne:hover,
  .pTwo:hover,
  .pThree:hover {
    height: 700px;
    width: 300px;
    box-shadow: 0 0 5px #ffffff;

    .overlay {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .project-link {
      color: #ffffff;

      scale: 2.5;
      text-shadow: 0 0 5px var(--secondColor);
    }
  }

  header {
    a {
      font-size: 18px;
      font-weight: 500;
      transition-duration: 0.5s;
    }
  
    a:hover {
      font-size: 25px;
      font-weight: 600;
    }
  }

  header i {
    font-size: 15px;
    animation: arrowMove 1s infinite alternate;
  }
  
  @keyframes arrowMove {
    to {
      transform: translateY(15px);
    }
  }
}
