@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  --primaryColor: #f8cb74;
  --secondColor: #232323;
  --textFormColor: rgba(205, 205, 205, 0.562);
  background-color: var(--primaryColor);
}

#container {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.namePosition {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  align-content: center;
}

.name,
.subname {
  width: 95%;
  font-size: 21vw;
  margin: 10px auto;
  font-weight: bolder;
  letter-spacing: 15px;
}

.worker {
  width: 90%;
  margin: 0px auto -10px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  height: 35px;
  border-radius: 15px;
}

.worker p {
  background-color: #000;
  width: 100%;
  color: var(--primaryColor);
  border-radius: 30px;
  padding: 6px;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.containerTwo {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  align-content: center;
  font-size: 15vw;
  font-weight: bolder;

  .letter {
    font-size: 15vw;
  }
}

.containerTwo section {
  margin: 10px auto;
}

#visibleAbout {
  display: none;
}

.aboutText {
  display: inline-flex;
  align-items: center;
}

.toggle-label {
  cursor: pointer;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
}

.toggle-label .placeholder {
  display: inline;
}

.toggle-label .hidden-content {
  display: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  background-color: #000;
}

#visibleAbout:checked + p.aboutText .toggle-label {
  background-color: #000;
  border-radius: 50%;
  color: white;
  padding: 0.7em 1em 1.6em;
  width: 160px;
  height: 160px;
  text-align: center;
  align-content: center;
}

#visibleAbout:checked + p.aboutText .letter {
  transform: scale(0.25);
  transition: transform 0.3s ease, margin 0.3s ease;
}

#visibleAbout:checked + p.aboutText .letter:first-of-type {
  margin-right: -40px;
}

#visibleAbout:checked + p.aboutText .letter:last-of-type {
  margin-left: -37px;
}

#visibleAbout:checked + p.aboutText .toggle-label .hidden-content {
  display: inline;
}

#visibleAbout:checked + p.aboutText .toggle-label .placeholder {
  display: none;
}

.placeholder {
  display: inline-block;
  animation: colorChange 8s linear infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(255, 255, 255);
  }
  25% {
    color: rgb(126, 126, 126);
  }
  50% {
    color: rgb(42, 42, 42);
  }
  75% {
    color: rgb(127, 127, 127);
  }
  100% {
    color: rgb(210, 210, 210);
  }
}

#visibleContact {
  display: none;
}

.contactText {
  display: inline-flex;
  align-items: center;
}

.toggle-label-contact {
  cursor: pointer;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
}

.toggle-label-contact .placeholder {
  display: inline;
}

.hidden-contact {
  display: none;
  font-size: 19px;
  font-weight: 900;
  background-color: #000000;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  margin: 10px auto;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#visibleContact:checked ~ .hidden-contact {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

#contactoForm {
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 2px;
}

#contactoForm label {
  color: var(--textFormColor);
  font-size: 10px;
  font-weight: normal;
  background-color: var(--secondColor);
  margin-right: 10px;
}

.acept {
  background-color: var(--secondColor);
  align-content: center;
  padding-bottom: 10px;
  border-radius: 5px;
}

.genero {
  background-color: var(--secondColor);
  text-align: left;
  padding: 0px 0px 5px 10px;
  border-radius: 5px;
}

#contactoForm input,
#contactoForm select,
#contactoForm button {
  border: none;
  padding: 10px;
  font-size: 10px;
  background-color: var(--secondColor);
  border-radius: 5px;
}
#contactoForm input,
#contactoForm select,
#contactoForm textarea {
  outline: none;
  border: 1px solid var(--secondColor);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#contactoForm input:focus,
#contactoForm select:focus,
#contactoForm textarea:focus {
  border-color: var(--textFormColor);
  box-shadow: 0 0 1px rgba(248, 204, 116, 0.317);
}

#contactoForm input,
#contactoForm select {
  background-color: var(--secondColor);
  color: var(--textFormColor);
}

#contactoForm input::placeholder,
#contactoForm textarea::placeholder {
  color: var(--textFormColor);
}

#contactoForm textarea {
  color: var(--textFormColor);
  font-size: 10px;
  resize: vertical;
  min-height: 120px;
  background-color: var(--secondColor);
}

#contactoForm button {
  background-color: var(--secondColor);
  color: var(--primaryColor);
  cursor: pointer;
  transition: background 0.3s ease;
}

#contactoForm button:hover {
  background-color: var(--secondColor);
}

img {
  border-radius: 10px;
  width: 100px;
  height: auto;
}

.hidden-porfolio {
  display: none;
  background-color: #000;
}

#visiblePorfolio {
  display: none;
}

.PorfolioText {
  display: inline-flex;
  align-items: center;
}

.toggle-label-porfolio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}

.toggle-label-porfolio .placeholder {
  display: inline;
}

.toggle-label-porfolio .hidden-porfolio {
  display: none;
}

#visiblePorfolio:checked + p.porfolioText .toggle-label-porfolio {
  border-radius: 50px;
  height: 110px;
  text-align: center;
  align-content: center;
}

#visiblePorfolio:checked
  + p.porfolioText
  .toggle-label-porfolio
  .hidden-porfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#visiblePorfolio:checked + p.porfolioText .toggle-label-porfolio .placeholder {
  display: none;
}

#visiblePorfolio:checked ~ .hidden-porfolio {
  display: block;
}

.marquee {
  background-color: #000;
  padding: 15px;
  display: flex;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee img {
  width: 100px;
  height: auto;
  margin-right: 100px;
}

nav {
  font-size: 13px;
  margin-top: 30px;

  ul {
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
    li {
      text-align: center;
      margin: 20px 40px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  padding: 5px;
}

.icon {
  font-size: 2.5rem;
}
.social-media li {
  position: relative;
  width: 50px;
  height: 1em;
}

.social-media li a,
.social-media li .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: opacity 0.2s ease-in;
}

.social-media li a {
  opacity: 0;
}

.social-media li .icon {
  opacity: 1;
  pointer-events: none;
}

.social-media li:hover a {
  opacity: 1;
  font-size: 0.8rem;
  color: var(--primaryColor);
  background-color: var(--secondColor);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
}

.social-media li:hover .icon {
  opacity: 0;
}

footer {
  color: var(--primaryColor);
  background-color: #000;
  font-size: 10px;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .worker {
    margin-top: 25px;
    padding: 10px;
  }

  .worker p {
    font-size: 1.2rem;
    animation: marquee 15s linear infinite;
  }

  .toggle-label .hidden-content {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 23px;
  }

  #visibleAbout:checked + p.aboutText .toggle-label {
    padding: 0.7em 1em 1.6em;
    width: 230px;
    height: 250px;
  }

  .hidden-contact {
    font-size: 1.2rem;
    padding: 12px;
    max-width: 80%;

  }

  #contactoForm textarea,
  #contactoForm label {
    font-size: 1rem;
  }

  #contactoForm input,
  #contactoForm select,
  #contactoForm button {
    padding: 12px;
    font-size: 1rem;
  }

  .genero, .acept {
    padding: 10px 0px 10px 15px;
  }

  .social-media li:hover a {
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
  }

  nav {
    margin: 50px auto;
    ul {
      li {
        margin: 20px 60px;
      }
    }
  }

  .icon {
    font-size: 3rem;
  }
  .social-media li {
    position: relative;
    width: 100px;
    height: 2em;
  }
  
  .social-media li:hover a {
    font-size: 1.1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .worker {
    margin-top: 25px;
    padding: 10px;
  }

  .worker p {
    font-size: 1.2rem;
    animation: marquee 15s linear infinite;
  }

  .toggle-label .hidden-content {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 23px;
  }

  #visibleAbout:checked + p.aboutText .toggle-label {
    padding: 0.7em 1em 1.6em;
    width: 230px;
    height: 250px;
  }

  .hidden-contact {
    font-size: 1.2rem;
    padding: 12px;
    max-width: 80%;

  }

  #contactoForm textarea,
  #contactoForm label {
    font-size: 1rem;
  }

  #contactoForm input,
  #contactoForm select,
  #contactoForm button {
    padding: 12px;
    font-size: 1rem;
  }

  .genero, .acept {
    padding: 10px 0px 10px 15px;
  }

  .social-media li:hover a {
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
  }

  nav {
    margin: 50px auto;
    ul {
      li {
        margin: 20px 60px;
      }
    }
  }

  .icon {
    font-size: 3rem;
  }
  .social-media li {
    position: relative;
    width: 100px;
    height: 2em;
  }
  
  .social-media li:hover a {
    font-size: 1.1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
