@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  --primaryColor: #eceff2;
  --textFormColor: #484848;
}

html,
body {
  height: 100%;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

#backBtn {
  position: fixed;
  color: var(--textFormColor);
  top: 20px;
  right: 30px;
  background: #48484807;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 100;
}

#container {
  width: 100%;
  padding: 20px;
}

header h2 {
  color: var(--textFormColor);
  font-size: 3rem;
  font-weight: 800;
}

.block1 .titleB1 {
  color: var(--textFormColor);
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

.block1 img {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.block1 .textBook {
  color: var(--textFormColor);
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 20px;
}

.block1 p:nth-of-type(3) {
  margin-bottom: 25px;
}

a {
  color: #484848;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  #container {
    max-width: 500px;
  }

  #backBtn {
    padding: 5px 10px;
    font-size: 1.7rem;
  }

  .block1 .titleB1 {
    font-size: 1.5rem;
  }

  .block1 .textBook {
    font-size: 1.05rem;
    margin-top: 30px;
  }

  a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  #container {
    max-width: 700px;
  }
  
  #backBtn {
    padding: 5px 10px;
    font-size: 2rem;
  }

  .block1 .textBook {
    font-size: 1.1rem;
  }

  .block1 img {
    min-width: 100%;
  }

  a {
    font-size: 1.3rem;
  }
}
