<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astralis Porject</title>
    <link rel="stylesheet" href="../css/styleAstralis.css" />
    <!-- Se vincula el archivo CSS "styleAstralis.css" para aplicar los estilos del proyecto -->
  </head>
  <body>
    <!-- Botón para regresar a la página de proyectos -->
    <button id="backBtn" onclick="window.location.href='projects.html'">X</button>

    <div id="container">
      <!-- Encabezado de la página -->
      <header>
        <h2>Astralis Game /Project</h2>
      </header>
      <main>
        <!-- Sección principal del contenido del proyecto -->
        <section class="block1">
          <!-- Título descriptivo del bloque -->
          <p class="titleB1">GAME + BOOK COVER</p>
          <!-- Imagen representativa del proyecto -->
          <img
            src="../img/AstralisBook.png"
            alt="Book de Astralis Game Porject"
          />
          <!-- Descripción del juego desarrollado -->
          <p class="textGame">
            Game developed by Astralis Team in Java without the use of additional libraries.
          </p>
          <br>
          <!-- Enlace al repositorio de GitHub del proyecto -->
          <a href="https://github.com/savamidev/Astralis">GitHub repository</a>
        </section>
      </main>
      <!-- Footer (actualmente sin contenido específico) -->
      <footer>
        <section class=""></section>
      </footer>
    </div>
  </body>
</html>
