<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astralis Porject</title>
    <link rel="stylesheet" href="../css/styleAstralis.css" />
  </head>
  <body>

    <button id="backBtn" onclick="window.location.href='projects.html'">X</button>

    <div id="container">
      <header>
        <h2>Astralis Game /Project</h2>
      </header>
      <main>

        <section class="block1">
          <p class="titleB1">GAME + BOOK COVER</p>
          <img
            src="../img/AstralisBook.png"
            alt="Book de Astralis Game Porject"
          />
          <p class="textGame">
            Game developed by Astralis Team in Java without the use of additional libraries.
          </p>
            <br>
            <a href="https://github.com/savamidev/Astralis">GitHub repository</a>
        </section>
      </main>
      <footer>
        <section class=""></section>
      </footer>
    </div>
  </body>
</html>
