<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookTrack Project</title>
    <link rel="stylesheet" href="../css/styleBookTrack.css" />
  </head>
  <body>
    <button id="backBtn" onclick="window.location.href='porfolio.html'">
      X
    </button>

    <div id="container">
      <header>
        <h2>BookTrack Library /Project</h2>
      </header>
      <main>
        <section class="block1">
          <p class="titleB1">Interfaz App Web</p>
          <img src="../img/BookTrack.png" alt="Sala biblioteca de trabajo." />
          <p class="textBook">
            Aplicación web de gestión de libros de lectura.
            <br /><br />
            Desarrollado para identificar usuarios antes del acceso, biblioteca
            comunitaria de libros propuestos, ranking de Top Libros Mensuales,
            etc...
          </p>
          <br />

          <img class="secondImg"
            src="../img/BookTrack2.jpeg"
            alt="Libros apilados y uno de ellos abierto en un ambiente de luces."
          />
          <p class="textBook">
            Uso de GitHub Actions, proyecto de gestión de actualización de
            biblioteca, ficha individual por libro, foro comunitario...
          </p>
          <a href="https://github.com/savamidev/Astralis">Repositorio GitHub</a>
        </section>
      </main>
    </div>
  </body>
</html>
