<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookTrack Project</title>
    <link rel="stylesheet" href="../css/styleBookTrack.css" />
    <!-- Se vincula el CSS específico para el proyecto BookTrack -->
  </head>
  <body>
    <!-- Botón de regreso: redirige a la página de proyectos -->
    <button id="backBtn" onclick="window.location.href='projects.html'">
      X
    </button>

    <div id="container">
      <!-- Encabezado del proyecto -->
      <header>
        <h2>BookTrack Library /Project</h2>
      </header>
      <main>
        <!-- Sección principal con contenido del proyecto -->
        <section class="block1">
          <!-- Título descriptivo del bloque -->
          <p class="titleB1">Interfaz App Web</p>
          <!-- Imagen principal representativa del proyecto -->
          <img src="../img/BookTrack.png" alt="Sala biblioteca de trabajo." />
          <!-- Descripción detallada del proyecto -->
          <p class="textBook">
            GitHub Repository Web application for managing reading books.
            <br /><br />
            Developed to identify users before access, community library of
            suggested books, ranking of Top Monthly Books, etc.
          </p>
          <br />
          <!-- Imagen secundaria para complementar la presentación -->
          <img
            class="secondImg"
            src="../img/BookTrack2.jpeg"
            alt="Libros apilados y uno de ellos abierto en un ambiente de luces."
          />
          <!-- Segunda descripción con información adicional -->
          <p class="textBook">
            Using GitHub Actions, managing library updates, individual book
            listings, community forum...
          </p>
          <!-- Enlace al repositorio de GitHub del proyecto -->
          <a href="https://github.com/savamidev/BookTrack">GitHub repository</a>
        </section>
      </main>
    </div>
  </body>
</html>
