<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../css/stylePor.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <div id="container">
      <header>
        <a href="../index.html" class="porfolioButton"><i class="fa-solid fa-arrow-left"></i></a>
        <p>[Projects]</p>
        <a href="#webDeveloper">Webs</a>
        <i class="fa-solid fa-arrow-down"></i>
      </header>
      <main>
        <div class="blockOne">
          <section class="project pOne">
            <video autoplay loop muted playsinline class="bg-video1">
              <source src="../img/AstralisGame.mp4" type="video/mp4" />
              Tu navegador no soporta el elemento de video.
            </video>
            <div class="overlay"></div>
            <a href="AstralisGame.html" class="project-link"
              >Astralis Game</a
            >
          </section>

          <section class="project PTwo">
            <video autoplay loop muted playsinline class="bg-video2">
              <source src="../img/BookTrack.mp4" type="video/mp4" />
              Tu navegador no soporta el elemento de video.
            </video>
            <div class="overlay"></div>
            <a href="BookTrack.html" class="project-link">BookTrack</a>
          </section>

          <section class="project PThree">
            <video autoplay loop muted playsinline class="bg-video3">
              <source src="../img/DiaryCheck.mp4" type="video/mp4" />
              Tu navegador no soporta el elemento de video.
            </video>
            <div class="overlay"></div>
            <a href="https://tusitio.com/astralis-game" class="project-link"
              >Diary Check</a
            >
          </section>
        </div>

        <div id="webDeveloper" class="blockTwo">
          <h3><span class="sing1">&lt;</span>Webs<span class="sing2">&gt;</span></h3>
          <div class="webs">
            <div class="webProject1">
              <a
                href="https://github.com/savamidev/MiguelSanchez-1DAW/tree/ded28d4117a267922f56ae9d1bd3477b8e16386b/LDM/Capitan-Veneno"
                >Capitan Veneno</a
              >
              <div class="opacity"></div>
            </div>
            <div class="webProject2">
              <a
                href="https://github.com/savamidev/MiguelSanchez-1DAW/tree/ded28d4117a267922f56ae9d1bd3477b8e16386b/LDM/Mascostas"
                >Mascotas</a
              >
              <div class="opacity"></div>
            </div>
          </div>
        </div>
      </main>
      <footer>&copy; Miguel Sánchez Vázquez</footer>
    </div>
  </body>
</html>
