<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../css/stylePor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  </head>
  <body>
    <header>
      <p>[Projects]</p>
      <a href="#lenguages">Lenguages</a>
      <i class="fa-solid fa-arrow-down"></i>
    </header>
    <main>
      <div id="container">
        <div class="blockOne">

          <section class="project pOne">
            <video autoplay loop muted playsinline class="bg-video1">
              <source src="../img/AstralisGame.mp4" type="video/mp4" />
              Tu navegador no soporta el elemento de video.
            </video>
            <div class="overlay"></div>
            <a href="https://tusitio.com/astralis-game" class="project-link"
              >Astralis Game</a
            >
          </section>

          <section class="project PTwo">
            <video autoplay loop muted playsinline class="bg-video2">
              <source src="../img/BookTrack.mp4" type="video/mp4" />
              Tu navegador no soporta el elemento de video.
            </video>
            <div class="overlay"></div>
            <a href="https://tusitio.com/astralis-game" class="project-link"
              >BookTrack</a
            >
          </section>

          <section class="project PThree">
            <video autoplay loop muted playsinline class="bg-video3">
              <source src="../img/DiaryCheck.mp4" type="video/mp4" />
              Tu navegador no soporta el elemento de video.
            </video>
            <div class="overlay"></div>
            <a href="https://tusitio.com/astralis-game" class="project-link"
              >Diary Check</a
            >
          </section>

        </div>

        <div id="lenguages" class="blockTwo">
          <h3>Lenguages</h3>
          <div class="iconsTable">
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css"></i>
          </div>
        </div>
      </div>
    </main>
    <footer>&copy; Miguel Sánchez Vázquez</footer>
  </body>
</html>
