<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Project</title>
    <link rel="stylesheet" href="../css/styleBookTrack.css" />
  </head>
  <body>
    <button id="backBtn" onclick="window.location.href='projects.html'">
      X
    </button>

    <div id="container">
      <header>
        <h2>Personal Portfolio /Project</h2>
      </header>
      <main>
        <section class="block1">
          <p class="titleB1">Professional website</p>
          <img
            src="../img/PortfolioPrinci.png"
            alt="Sala biblioteca de trabajo."
          />
          <p class="textBook">
            Professional website where I showcase my work experience, skills,
            and projects. <br /><br />
            Developed solely in HTML, CSS, and basic JavaScript functions.
          </p>
          <br />
          <a href="https://github.com/savamidev/Portfolio">Repositorio GitHub</a>
        </section>
      </main>
    </div>
  </body>
</html>
